.textArea_input {
    border: none;
    width: 100%;
    font-family: sans-serif;
    padding: 24px 4.5px;
    height: 160px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;
}

.mapImage {
    border-radius: 10px;
}

@media (max-width:800px) {
    .mapImage {
        width: 100%
    }
}